body {
  height: 100vh;
  background-color: #C4C4C4;
}

.my-header {
  height: 10vh;
  width: 100vw;
  background-color: #A34D52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: 'Ranchers', cursive;
  font-size: 24px;
  color: #FFE68E
}

.list-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.todo-item {
  width: 70%;
  height: 30px;
  background-color: #A34D52;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.todo-title {
  color: #FFE68E;
  font-size: 18px;
  font-family: "Ranchers", cursive;
}

.form-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-elem {
  margin: 10px;
}

.form-btn {
  padding: 5px 15px;
  font-family: 'Ranchers', cursive;
  color: #FFE68E;
  background-color: #A34D52;
  box-shadow: 3px 3px 6px 2px #000000;
}

.btn-container {
  display: flex;
  position: relative;
}

.todo-btn{
  margin-left: 5px;
}

